<button
  (click)="showPopup()"
  type="button"
  class="btn btn-primary subscribe-btn"
  data-toggle="modal"
  data-target="#myModal"
>
  Subscribe now!
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <!-- Modal body -->
      <!-- <div class="modal-body"> -->
      <div class="Container">
        <form class="Subscribe">
          <h3>Subscribe to our newsletter</h3>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
            laboriosam minus repellat
          </p>

          <form>
            <input type="text" class="" placeholder="Email Address" />
            <button type="button" (click)="subscribe($event)">Subscribe</button>
          </form>

          <div class="Loading">
            <div class="LoadingDot"></div>
            <div class="LoadingDot"></div>
            <div class="LoadingDot"></div>
            <div class="LoadingDot"></div>
            <span>Subscribing</span>
          </div>
          <div class="Complete">
            <div class="Tick">
              <svg width="32px" height="25px" viewBox="0 0 32 25">
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="Artboard"
                    transform="translate(-384.000000, -217.000000)"
                    fill-rule="nonzero"
                    fill="#FFFFFF"
                  >
                    <g id="Group" transform="translate(360.000000, 189.000000)">
                      <path
                        d="M27.4142136,40.5857864 C26.633165,39.8047379 25.366835,39.8047379 24.5857864,40.5857864 C23.8047379,41.366835 23.8047379,42.633165 24.5857864,43.4142136 L34,52.8284271 L55.4142136,31.4142136 C56.1952621,30.633165 56.1952621,29.366835 55.4142136,28.5857864 C54.633165,27.8047379 53.366835,27.8047379 52.5857864,28.5857864 L34,47.1715729 L27.4142136,40.5857864 Z"
                        id="Path-2"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h4>Thank you for subscribing</h4>
      <span>You will receive a confirmation email shortly</span>
          </div>
          </form>
      </div>
      <div [hidden]="noError" class="alert alert-danger" style="margin-bottom: -2px; animation: fadeIn 1s;" role="alert">
        <strong>Invalid!</strong> {{errorMessage}}
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer"> -->
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
      <!-- </div> -->
</div>
</div>
</div>
