<div class="container text-center p-4">
    <p class="display-4">Cookie Policy</p>
    <p>By using DeskTime’s website, you agree that cookies, web beacons, or similar storage</p>
    <p>technology may be placed on your computer or other device from which you access our </p>
    <p>webpage. This Cookie Policy describes what types of cookies we use on our website and for </p>
    <p>what purposes.</p>
</div>

<div class="jumbotron text-center">
    <h4 class="text-uppercase font-weight-bold pb-2">1. What are cookies</h4>
    <p class="px-sm-5 text-justify">Cookies are small text files created by the website, downloaded to and stored
        on any internet enabled device – such as your computer, smartphone or tablet – when you visit
        our homepage. The browser you're on uses the cookies to forward information back to the website at each
        subsequent visit for the website to recognize the user and to remember the user’s choices (for example,
        login information, language preferences and other settings). This can make your next visit easier and the
        site more useful to you.</p>
</div>

<div class="jumbotron bg-white">
    <h4 class="text-uppercase  text-center font-weight-bold pb-2">2. WHAT TYPES OF COOKIES DO WE USE AND FOR WHAT
        PURPOSES DO WE
        USE THEM?
    </h4>
    <p class="px-sm-5 text-justify">We use different types of cookies to run our website. The cookies indicated
        below
        may be stored in your browser.
    </p>
    <ul class="mx-5">
        <li> <span class="font-weight-bold">Mandatory Cookie:</span>
            These cookies are important
            because they are necessary for the smooth operation of the website. Without these cookies,
            it is impossible to ensure a connection to the user profile and to use the website in full.
            These cookies identify the user’s device, but do not reveal the identity of the user and do not
            collect the user’s information. These cookies are stored on the user’s device until the browser
            closes.
        </li>
        <li> <span class="font-weight-bold">Functional Cookie:</span>
            These cookies provide convenient and complete use of our website, and they help users efficiently
            use the website and make it personalized. Functional cookies save the user’s preferences and ensure
            individual functions, such as the “remember me” functionality that allows users to enter their email
            and password just once. These cookies are stored permanently on the user’s device.
        </li>
        <li><span class="font-weight-bold ">Analytical cookies.</span>
            These cookies collect information about how users interact with our website, for example, to determine
            which sections are most frequently visited and which services are most often used. The collected
            information is used for analytical purposes to understand what interest our users and how to make the
            webpage more user friendly. For analytical purposes, we may use third-party cookies. These cookies are
            stored permanently on the user’s device.
        </li>

        <li> <span class="font-weight-bold">Targeting cookies.</span>
            These cookies are used on our website to tailor marketing to you and your interests and to provide you
            with more personalized services in the future. These cookies remember that you visited our website and
            may be used to show you personalized advertisements on social media and other sites. For targeting
            purposes, we may use third-party cookies. These cookies are stored permanently on the user’s device.
        </li>

        <li> <span class="font-weight-bold">Third-party cookies.</span>
            Our website uses third-party services, such as analytics services, so we know what is popular on our
            website and what is not, thus making the website more usable. We are not responsible for third-party
            cookies. You can learn more about these cookies and their privacy policies by visiting the website of
            the respective third party. All information processed from third-party cookies are processed by the
            respective service provider. At any point in time, you have the right to opt-out from data processing by
            third-party cookies. For more information, please see the next section of this Cookie Policy.
        </li>

    </ul>
    <p class="px-sm-5">
        For example, we may use Google Analytics cookies to help measure how users interact with our website
        content. These cookies collect information about the user's interaction with the website, such as unique
        visits, returning visits, length of the session, actions carried in the webpage, and others.
    </p>
    <p class="px-sm-5">
        We may also use Facebook pixels to process information about the user’s actions on our website, such as
        visited webpage, the user’s Facebook ID, browser data, and others. The information processed from Facebook
        pixels are used to display interest-based ads when you are using Facebook as well as to measure cross-device
        conversions and learn about users’ interactions with our webpage, and others.
    </p>
</div>

<div class="jumbotron text-center">
    <h4 class="text-uppercase font-weight-bold pb-2">3. HOW TO CONTROL COOKIES?</h4>

    <p class="px-sm-5 text-justify">
        When visiting our website, you are presented with an informative statement that the website uses cookies. If
        you want to revoke your consent to save cookies on your device, you can delete all cookies stored in your
        browser and set up your browser to block cookies being saved. By clicking on the “help” button in your
        browser, you can find instructions on how to prevent the browser from storing cookies, as well as what
        cookies are stored already and delete them if you want to. You must change the settings for each browser
        that you use.
    </p>
    <p class="px-sm-5 text-justify">
        However, please note that without saving certain cookies, it is possible that you will not be able to fully
        use all the features and services on DeskTime’s website.
    </p>

    <p class="px-sm-5 text-justify">
        You can separately opt-out from having your website activity available to Google Analytics by installing the
        Google Analytics opt-out browser add-on, which prevents sharing information about your website visit with
        Google Analytics. Link to the add-on and for more information:
        <a
            href="https://support.google.com/analytics/answer/181881">https://support.google.com/analytics/answer/181881.</a>
    </p>
    <p class="px-sm-5 text-justify">
        Furthermore, if you want to opt out from interest-based, behavioral advertising, you can do so by using one
        of the following tools based on the region you are in. Please note that this is third-party tool that will
        save its own cookies on your devices and DeskTime is not responsible for their Privacy Policy.
    </p>
    <p class="text-left px-sm-5">
        For more information and opt-out options, please visit:
    </p>
    <ul class="ml-5 text-left">
        <li>
            US- <a href="https://youradchoices.com/">Digital Advertising Alliance</a>
        </li>
        <li>
            Canada - <a href="https://youradchoices.ca/">Digital Advertising Alliance</a>
        </li>
        <li>
            EU - <a href="https://www.youronlinechoices.eu/"> European Interactive Digital Advertising Alliance</a>
        </li>
    </ul>
</div>

<div class="jumbotron text-center bg-white">
    <h4 class="text-uppercase font-weight-bold pb-2">4. COOKIE POLICY CHANGES</h4>
    <p class="px-sm-5 text-justify">
        We reserve the right to make changes to this Cookie Policy. Amendments and/or additions to this Cookie
        Policy will come into force when published on our website.
    </p>

    <p class="px-sm-5 text-justify">
        By continuing to use our website and/or our services after changes have been made to this Cookie Policy, you
        are indicating your consent to the new wording in the Cookie Policy. It is your responsibility to regularly
        check the content of this policy to learn about any changes.
    </p>

</div>

<div class="jumbotron">
    <h4 class="text-uppercase text-center font-weight-bold pb-2">5. CONTACT INFORMATION</h4>

    <p class="px-sm-5 text-justify">
        If you have any questions about your personal data or this Cookie Policy, or if you would like to file a
        complaint about how we process your personal data, please contact us by email at <a
            href="mailto:support@intellifriend.com">support@intellifriend.com</a>,
        or by using the contact details below:
    </p>

    <address class="pl-sm-5">
        <strong>Brainstation 23, LLC.</strong><br>
        Address: VAT Office-8th floor,<br>
        Amtoli,Mohakhali<br>
        Dhaka-1200, Bangladesh<br>
    </address>
    <p class="px-sm-5">This Cookie Policy is effective from 25 May 2018</p>
    <p class="pl-sm-5"> <a href="#">Download the PDF</a></p>

</div>
