<div class="feature-intro">
  <div class="bd-example">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/about_images/slide1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class=" jumbotron carousel-caption ">
            <h1>
              <span class="text-custom-black">
                14 Features to make a difference</span
              >
            </h1>
            <h4>
              <span class="text-success">Intelli</span>
              <span class="text-primary">Friend</span>
              Your intelligent friend for success!
            </h4>
            <p>
              <button class="btn btn-success">Sign Up Now</button>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/about_images/slide2.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>
              <span class="text-success">Intelli</span>
              <span class="text-primary">Friend</span>
              <span class="text-light">
                is available for different Operating Systems
              </span>
            </h1>
            <!-- <p>Your intelligent friend for success!</p> -->
            <p>
              <button class="btn btn-success">Install Now</button>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/about_images/slide3.png"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>
              <span class="text-light">Facing a problem using </span>
              <span class="text-success">Intelli</span>
              <span class="text-primary">Friend</span>
            </h1>
            <h4>We are here to help!</h4>
            <p>
              <button class="btn btn-success">Contact us</button>
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<section class="features">
  <div class="container-fluid feature-highlights">
    <div class="row row-feature">
      <div class="col-md-4 ">
        <img
          class="mx-auto d-block img-responsive features-hightlights-images"
          src="assets/images/features_images/productivity30.png"
          style="height: 200px"
        />
        <div>
          <h5 class="text-center text-custom-black">
            Boost productivity by 30%
          </h5>
          Identify and eliminate inefficient habits.
        </div>
      </div>
      <div class="col-md-4 ">
        <img
          class="mx-auto d-block img-responsive features-hightlights-images"
          src="assets/images/features_images/organized.png"
        />
        <div>
          <h5 class="text-center text-custom-black">
            Stay organized and in control
          </h5>
          Manage your team and track projects in one place.
        </div>
      </div>
      <div class="col-md-4 ">
        <img
          class="mx-auto d-block img-responsive features-hightlights-images"
          src="assets/images/features_images/savetime.png"
        />
        <div>
          <h5 class="text-center text-custom-black">
            Save time and manual work
          </h5>
          No manual timesheets that take time to fill out and are never 100%
          reliable
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature-list">
  <div class="container-fluid about-top-content shadow-lg p-3 mb-0 bg-light ">
    <h2 class="text-center">
      <span class="text-success">Intelli</span
      ><span class="text-primary">Friend</span> Features
    </h2>

    <div class="row row-feature mr-4">
      <div class="col-md-4">
        <ul class="rect-list ">
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Automatic Time Tracking"
                (click)="scroll(automaticTimeTracking)"
              >
                Automatic Time Tracking
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1 ">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="URL and App Tracking"
                (click)="scroll(urlAndAppTracking)"
              >
                URL and App Tracking
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Document Title Tracking"
                (click)="scroll(documentTitleTracking)"
              >
                Document Title Tracking
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Auto ScreenShots"
                (click)="scroll(autoScreenshots)"
              >
                Auto Screenshots
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="rect-list">
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Offline Time Tracking"
                (click)="scroll(offlineTimeTracking)"
              >
                Offline Time Tracking
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Project Time Tracking"
                (click)="scroll(projectTimeTracking)"
              >
                Project Time Tracking
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Cost Calculation and Project Biling"
                (click)="scroll(costCalculationAndBiling)"
              >
                Cost Calculation and Project Biling
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Pomodoro Timer"
                (click)="scroll(pomodoroTimer)"
              >
                Pomodoro Timer
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="rect-list">
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Private Time Option"
                (click)="scroll(privateTimeOption)"
              >
                Private Time Option
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Employee Absence Calendar"
                (click)="scroll(employeeAbsenceCalendar)"
              >
                Employee Absence Calendar
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Team's Contacts"
                (click)="scroll(teamsContacts)"
              >
                Team's Contacts
              </button>
            </div>
          </li>
          <li>
            <div class="list-box mb-1">
              <button
                type="button"
                class="btn btn btn-outline-dark"
                title="Custom Reports"
                (click)="scroll(customReports)"
              >
                Custom Reports
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="feature-list-content shadow-lg">
  <div class="container-fluid text-custom-black">
    <div class="row row-feature" #automaticTimeTracking>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Automatic Time Tracking</h2>
        <p class="text-justify text-custom-black">
          DeskTime time tracker starts and stops working when you do, from the
          minute you turn on the computer, to the minute you turn it off. No
          manual data entries - DeskTime tracks and calculates productivity
          automatically for you. So that you can rely 100% on the data you see.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-jumbo bg-custom-black">
      <div class="col-md-12 jumbotron mx-auto my-auto text-light">
        <h2 class="text-center">Get an in-depth view of your team’s workday</h2>
      </div>
    </div>

    <div class="row row-feature" #urlAndAppTracking>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>

      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">URL and App Tracking</h2>
        <p class="text-justify text-custom-black">
          See what websites, programs, and applications your employees use, and
          categorize them into productive or unproductive for completing their
          work tasks. Through such internet usage monitoring, see how your
          employees spend their days, as well as each person's average
          productivity.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature" #documentTitleTracking>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Document Title Tracking</h2>
        <p class="text-justify text-custom-black">
          Know which tasks your team is working on when they use specific
          programs, like Excel, Word, Photoshop, etc. Instead of just displaying
          the total time spent on the program, DeskTime will also record titles
          of documents or files and time spent on each of them.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto ">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row bg-custom-black">
      <div class="col-md-12 jumbotron mx-auto my-auto text-light">
        <h2 class="text-center">
          Check your team's progress through automatic screenshots
        </h2>
      </div>
    </div>

    <div class="row row-feature" #autoScreenshots>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Auto ScreenShots</h2>
        <p class="text-justify text-custom-black">
          Activate the screenshots feature for a more detailed view of your
          team’s efficiency and for monitoring remote employees. Every 5, 10, 15
          or 30 minutes DeskTime will take a screenshot (regular or blurred) of
          what everyone is working on and automatically highlight shots that
          have caught unproductive activities..
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature" #offlineTimeTracking>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Offline Time Tracking</h2>
        <p class="text-justify text-custom-black">
          Collect accurate data about the time spent away from the work
          computer. Specify the reasons for absence and put them down as
          productive, unproductive, or neutral. That way, you'll have a more
          precise overview of your team's workload, time management, and
          productivity.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row bg-custom-black">
      <div class="col-md-12 jumbotron mx-auto my-auto text-light">
        <h2 class="text-center">
          Be 100% in control when managing your projects
        </h2>
      </div>
    </div>

    <div class="row row-feature" #projectTimeTracking>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Project Time Tracking</h2>
        <p class="text-justify text-custom-black">
          Track time of individual projects and tasks. Get an idea of the status
          of your projects, estimate the time required for similar projects in
          the future, and bill your clients accurately for the work done.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature" #costCalculationAndBiling>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Cost Calculation and Biling</h2>
        <p class="text-justify text-custom-black">
          Know how much each project cost to the company and how much you should
          charge your customers with the integrated time billing feature. Set
          your and the team's hourly rates, and DeskTime will automatically
          calculate project costs based on time spent working on it.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row bg-dark">
      <div class="col-md-12 jumbotron mx-auto my-auto text-light">
        <h2 class="text-center">
          Choose an employee friendly time tracking app
        </h2>
      </div>
    </div>

    <div class="row row-feature" #pomodoroTimer>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Pomodoro Timer</h2>
        <p class="text-justify text-custom-black">
          Make sure your team not only works hard but also remembers to take
          breaks to avoid burnouts. Activate the built-in Pomodoro timer that
          will remind you to take a pause from work every 52, 60 or 90 minutes.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature" #privateTimeOption>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Private Time Option</h2>
        <p class="text-justify text-custom-black">
          Let your employees feel safe when they need to quickly do something
          work-unrelated during office hours. Anyone at any time can turn on the
          Private time feature, and while it's on, the time and websites used
          won't be tracked.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 ">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row row-feature" #employeeAbsenceCalendar>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Employee Absence Calendar</h2>
        <p class="text-justify text-custom-black">
          Coordinate time off with the DeskTime employee absence calendar. It
          allows employees to plan their schedules and let the team know when
          they’ll be on vacation or home sick. This eliminates unnecessary
          questions about whereabouts of absent employees and helps you plan
          everyone’s workload.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature" #teamsContacts>
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Team's Contacts</h2>
        <p class="text-justify text-custom-black">
          Access the team’s contact information through DeskTime to make
          communication within the team more efficient. It is no longer
          necessary to ask a colleague for another colleague’s email or phone
          number - saves time and interruptions.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row bg-custom-black">
      <div class="col-md-12 jumbotron mx-auto my-auto text-light">
        <h2 class="text-center">Keep up-to-date with your team's activity</h2>
      </div>
    </div>

    <div class="row row-feature" #customReports>
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Custom reports</h2>
        <p class="text-justify text-custom-black">
          Customize reports with the help of various filters to see the exact
          data you need. For example, use DeskTime Reports to create reports
          about the company’s productivity status, websites used at work or time
          spent on specific tasks. Then share, print, or export them to CSV.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row row-feature">
      <div class="col-md-1"></div>
      <div class="col-md-4 my-auto">
        <h2 class="text-left text-custom-black">Mobile App</h2>
        <p class="text-justify text-custom-black">
          Oversee the performance of your team not only from your desktop but
          also from your iPhone or Android device. Use the DeskTime mobile app
          to log details about your offline time and get access to your
          company’s performance reports while on the go.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 my-auto">
        <img
          class="img-responsive"
          src="assets/images/features_images/automatic-time-tracking.png"
        />
      </div>
    </div>

    <div class="row row-feature">
      <div class="col-md-2"></div>
      <div class="col-md-5 my-auto">
        <img
          class="w-75 ml-5 img-responsive"
          src="assets/images/features_images/urlAndAppTracking.png"
        />
      </div>
      <div class="col-md-4 my-auto">
        <h2 class="text-custom-black">Integrations with Third Party Apps</h2>
        <p class="text-justify text-custom-black">
          Simplify your company’s workflow with DeskTime integrations - from
          calendar apps to help you track offline time, to project management
          software to make project and task tracking accurate, while effortless.
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>
