
  <div class="about-intro">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Frequently Asked Questions</h1>
        <p class="lead text-custom-black">
          Do you have any questions? Please check the document below. You might
          find the answer. If you do not,
        </p>
        <p>
          <a routerLink="/contact"><button class="btn btn-success">Contact us</button></a>
        </p>
      </div>
    </section>
  </div>

  <section class="faq">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header collapsed pointer" id="headingOne" role="button"
            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h5 class="mb-0">
              How to install on Windows
            </h5>
          </div>

          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>
                  <p>
                    <b>Step One : </b>Download the windows installer from
                    <a href="//intellifriend.com" target="_blank">intellifriend.com</a>
                    and run the exe file by clicking on <i>Run</i>
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_windows/Capture2.PNG" /><br /><br />
                </li>

                <li>
                  <p><b>Step Two : </b>Read the License and click 'I Agree'</p>
                  <img class="img-fluid" src="assets/images/faq_images_windows/Capture3.PNG" /><br /><br />
                </li>
                <li>
                  <p><b>Step Three : </b>Check user option and click next</p>
                  <img class="img-fluid" src="assets/images/faq_images_windows/Capture4.PNG" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Four : </b>Browse the installation path and click
                    install
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_windows/Capture5.PNG" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Five : </b>Wait for a while to finish installation
                    and then click <i>Finish</i>
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_windows/Capture7.PNG" /><br /><br />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
              How to install on Ubuntu
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>
                  <p>
                    <b>Step One : </b>Download the ubuntu.zip from the website
                    <a href="//intellifriend.com" target="_blank">intellifriend.com</a>. Extract the file then you will
                    see a bash file named
                    <i>setup.sh</i>.Open the terminal and navigate to the
                    extracted folder. Run the following two commands.
                  </p>
                  <ul>
                    <li>chmod +x setup.sh</li>
                    <li>./setup.sh</li>
                  </ul>

                  <img class="img-fluid" src="assets/images/faq_images_linux/Capture1.png" /><br /><br />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree" role="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">
              How to install on MacOS
            </h5>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>
                  <p>
                    <b>Step One : </b>Download the Mac Installer from
                    <a href="//intellifriend.com" target="_blank">intellifriend.com</a>
                  </p>
                  <!-- <img class="img-fluid" src="assets/images/faq_images_macos/Capture1.png"><br><br> -->
                </li>
                <li>
                  <p>
                    <b>Step Two : </b>Open the dmg and drag the app to
                    Applications. Open intelliFriend from Applications
                  </p>
                  <img class="img-fluid"
                    src="assets/images/faq_images_macos/Screen Shot 2019-04-08 at 2.45.11 PM.png" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Three : </b>The following message will pop up just
                    click open and you will be redirected to general tab in
                    System preference
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_macos/open.png" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Four : </b>First, unlock for editing by clicking
                    "Click the lock to make changes.".
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_macos/privacy.png" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Five : </b>Enter your username and password into the
                    prompt that appears and click Unlock.
                  </p>
                  <img class="img-fluid" src="assets/images/faq_images_macos/pass.png" /><br /><br />
                </li>
                <li>
                  <p><b>Step Six : </b>Now, click "Open Anyway."</p>
                  <img class="img-fluid" src="assets/images/faq_images_macos/openAnyway.png" /><br /><br />
                </li>
                <li>
                  <p>
                    <b>Step Seven : </b>App will launch, then go to system
                    preferences in the privacy tab.
                  </p>
                  <img class="img-fluid"
                    src="assets/images/faq_images_macos/Screen Shot 2019-04-08 at 4.04.21 PM.png" /><br /><br />
                  <img class="img-fluid"
                    src="assets/images/faq_images_macos/Screen Shot 2019-04-08 at 3.24.21 PM.png" /><br /><br />
                </li>
                <li>
                  <p><b>Step Eight : </b>Give permission to intellifriend.</p>
                  <img class="img-fluid"
                    src="assets/images/faq_images_macos/Screen Shot 2019-04-08 at 3.26.07 PM.png" /><br /><br />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
