<footer id="footer" class="page-footer font-small">
    <div class="container text-center text-md-left">
        <div class="row pt-4 text-white">
            <div class="col-md-2 col-lg-4 col-xl-3 mb-4 ">
                <h6 class="text-uppercase font-weight-bold ">Intellifriend</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class=""><a class="" href="#">Contact Us</a> </p>
                <p><a href="#">Terms</a> </p>
                <p><a [routerLink]="['/privacy']">Privacy</a> </p>
                <p><a [routerLink]="['/cookie']">Cookie Policy</a></p>
                <p><a href="#">Download</a> </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 pl-md-4">
                <h6 class="text-uppercase font-weight-bold">Learn More</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="" href="#!">Employee Time Tracking</a>
                </p>
                <p>
                    <a class="" href="#!">Best Time tracking apps</a>
                </p>
                <p>
                    <a class="" href="#!">Intellifriend for companies</a>
                </p>
                <p>
                    <a class="" href="#!">Intellifriend for frelancers</a>
                </p>
                <p>
                    <a class="" href="#!">FAQ</a>
                </p>

                <p>
                    <a class="" href="#!">Case Studies</a>
                </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Contacts</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="" href="#!">Schedule a call</a>
                </p>
                <p>
                    <a class="" href="#!">support@intellifriend.com</a>
                </p>
                <p>
                    <a class="" href="#!">Open Chat</a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold">Where do find us</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Dhaka-1000, BD</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> intellifriend@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

            </div>

        </div>

    </div>

    <div class="footer-copyright text-center py-3">© {{ currentYear}} Copyright:
        <a> Intellifriend</a>
    </div>

</footer>
