#footer{
  background-color: rgba(45, 45, 45, 0.98);
	font-family: Helvetica, Arial, sans-serif;
}
#footer a{
  text-decoration: none;
	color: white;
}

.font-small {
    font-size: 0.9rem;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

.teal.accent-3 {
    background-color: #1de9b6 !important;
}
