<div class="container text-center p-4">
        <p class="display-4">Get in touch</p>
        <p class="small-height">If you are submitting a support request please read our FAQ before. If we didn’t cover
            your
        </p>
        <p class="small-height">question there, you can email us at <a href="#">support@intellifriend.com</a> or use the
            contact form here.
        </p>
    </div>


    <div class="jumbotron">
            <div class="form-div">
                <form class="form" action="#" method="post">
                    <div class="form-group">
                        <input name="name" class="span12 form-control" type="text" placeholder="your name" required value="">
                    </div>
                    <div class="form-group">
                        <input name="email" class="span12 form-control" type="text" placeholder="your email" required value="">
                    </div>
    
                    <div class="form-group">
                        <textarea name="message" class="span12 form-control" required placeholder="Message" rows="6"
                            cols="50"></textarea>
                    </div>
    
                    <div class="form-group">
                        <button id="sendBtn" class="btn btn-primary" type="submit">Send it</button>
                    </div>
                </form>
            </div>
        </div>