<app-banner></app-banner>
<section>
  <div class="page-container-box">
    <div class="container">
      <div class="row mt-50">
        <div class="col-lg-8">
          <div class="partners-heading-container pt-30">
            <h1>Join Intellifriend</h1>
            <h1>affiliate program and get paid!</h1>
            <br />
            <p>
              Join the free DeskTime affiliate program, and make up to $500 per
              referred user.
            </p>
            <p>
              We’ve got a robust affiliate system that is 100% free, and you’ll
              be paid for every referral made through your unique link.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 col-sm-8 offset-lg-0 offset-md-3 offset-sm-2"
        >
          <div class="partners-form-container">
            <!-- Default form register -->
            <form class="text-center">
              <div class="form-heading-container">
                <h2>Apply today</h2>
              </div>

              <div class="form-row mb-1">
                <div class="col">
                  <!-- First name -->
                  <input
                    type="text"
                    id="defaultRegisterFormFirstName"
                    class="form-control"
                    placeholder="First name"
                  />
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input
                    type="text"
                    id="defaultRegisterFormLastName"
                    class="form-control"
                    placeholder="Last name"
                  />
                </div>
              </div>

              <!-- E-mail -->
              <input
                type="email"
                id="defaultRegisterFormEmail"
                class="form-control mb-1"
                placeholder="E-mail"
              />

              <!-- Password -->
              <input
                type="password"
                id="defaultRegisterFormPassword"
                class="form-control"
                placeholder="Password"
                aria-describedby="defaultRegisterFormPasswordHelpBlock"
              />
              <small
                id="defaultRegisterFormPasswordHelpBlock"
                class="form-text text-muted mb-4"
              >
                At least 8 characters and 1 digit
              </small>

              <!-- Newsletter -->
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="defaultRegisterFormNewsletter"
                />
                <label
                  class="custom-control-label mb-1"
                  for="defaultRegisterFormNewsletter"
                  ><p>
                    Clicking to agree to our
                    <a href="" target="_blank">terms of service</a>
                  </p></label
                >
              </div>
              <button class="btn btn-info my-1 btn-block" type="submit">
                Become our affiliate
              </button>
              <p>
                By clicking <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>
              </p>
            </form>

            <!-- Default form register -->
            <!-- Default form login -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container-box-dark pt-50">
    <div class="row">
      <div class="col sub-title-container">
        <h1>What's in it for you</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 for-you-card">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2 style="margin: 20px 0 15px">This is Medium Title</h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container-box-vdark">
    <div class="ad-container">
      <h1>
        Make money by telling others about
        <br />
        DeskTime - one of the leading time tracking
        <br />
        apps, trusted by over 144k people worldwide.
      </h1>
    </div>
  </div>
  <div class="page-container-box">
    <div class="container">
      <div class="sub-title-container">
        <h1>How it works</h1>
      </div>
      <div class="row" style="margin-bottom: 50px">
        <div class="col-md-4 step-container">
          <div class="media">
            <div class="media-left">
              <span class="media-object">
                <h1>1</h1>
              </span>
            </div>
            <div class="media-body">
              <h2 class="mt-0">Media heading</h2>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin.
            </div>
          </div>
        </div>
        <div class="col-md-4 step-container">
          <div class="media">
            <div class="media-left">
              <span class="media-object">
                <h1>2</h1>
              </span>
            </div>
            <div class="media-body">
              <h2 class="mt-0">Media heading</h2>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin.
            </div>
          </div>
        </div>
        <div class="col-md-4 step-container">
          <div class="media">
            <div class="media-left">
              <span class="media-object">
                <h1>3</h1>
              </span>
            </div>
            <div class="media-body">
              <h2 class="mt-0">Media heading</h2>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container-box-dark">
    <div class="container pt-50">
      <div class="sub-title-container">
        <h1>How to promote your affiliate link</h1>
      </div>
      <div class="row" style="text-align: left">
        <div class="col-md-6">
          <h2>Simple ideas on how to get started and make your first $1000</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Recommend DeskTime to your customers or business partners - send
                them an email.
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Place DeskTime banners on your webpage or blog
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Write a blog post and mention DeskTime
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Promote DeskTime with paid advertising
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>When you become a DeskTime affiliate, you:</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Recommend DeskTime to your customers or business
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Place DeskTime banners on your webpage or blog
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Write a blog post and mention DeskTime
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Promote DeskTime with paid advertising
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Recommend DeskTime to your customers or business
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Place DeskTime banners on your webpage or blog
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Write a blog post and mention DeskTime
              </p>
            </li>
            <li>
              <span class="fa-li" style="color: rgb(47, 173, 47)"
                ><i class="fas fa-check"></i
              ></span>
              <p style="margin: 0 0 0 10px">
                Promote DeskTime with paid advertising
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container-box-vdark">
    <div class="sub-title-container">
      <div class="partners-footer">
        <h1 style="color: white; font-size: 32px">
          Join the DeskTime affiliate program <br />
          and start earning!
        </h1>
        <p>
          By clicking the "Sign up" button, you agree to the terms listed above.
        </p>
        <button
          type="button"
          class="btn btn-light btn-lg"
          style="color:#363636; border-radius: 0px"
        >
          Large button
        </button>
      </div>
    </div>
  </div>
</section>
