<div class="section-light">
  <div class="container">
    <div class="row top-tilte-container">
      <div class="col-md-12 large-heading">
        <h1>Terms of Service</h1>
      </div>
    </div>
  </div>
</div>
<div class="section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          The following terms and conditions (the “Agreement”) govern all use of
          the DeskTime.com website (the “Site”) and the services available on or
          at the Site (taken together with the Site, the “Service”). The Service
          is real-time time tracking service that analyzes productivity. The
          Service is owned and operated by Fast Brands LLC (“DeskTime”).
          <br /><br />
          If you are a company, organization, institution, head of group of
          people, etc. (mostly the one who pays for the Service), you are
          referred to as a “Client”. If you are the end-user of the Service, you
          are referred to as a “User”. The Agreement is binding to DeskTime and
          to you (Client and/or User).
          <br /><br />
          The Service is offered subject to your acceptance of the Agreement and
          all other operating rules, policies and procedures that may be
          published from time to time on the Site by DeskTime – including,
          without limitation, Privacy Policy and others. If you do not agree to
          the Agreement or any part of it, do not use the Site and the Service.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-title-container">
          <h2>REGISTRATION</h2>
        </div>
        <div class="sub-para-container">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consectetur debitis nulla adipisci numquam ut, nostrum blanditiis
            quo itaque repudiandae, accusamus omnis quis dignissimos beatae
            voluptatem amet voluptatibus et. Ex, neque!
          </p>
          <br />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            impedit quis magnam non repellendus soluta nobis distinctio, qui,
            adipisci minima, necessitatibus aspernatur accusantium dolor autem
            voluptate ullam laboriosam repellat harum?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-title-container">
          <h2>USE OF THE SERVICE</h2>
        </div>
        <div class="sub-para-container">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consectetur debitis nulla adipisci numquam ut, nostrum blanditiis
            quo itaque repudiandae, accusamus omnis quis dignissimos beatae
            voluptatem amet voluptatibus et. Ex, neque!
          </p>
          <br />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            impedit quis magnam non repellendus soluta nobis distinctio, qui,
            adipisci minima, necessitatibus aspernatur accusantium dolor autem
            voluptate ullam laboriosam repellat harum?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-title-container">
          <h2>MODIFICATIONS</h2>
        </div>
        <div class="sub-para-container">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consectetur debitis nulla adipisci numquam ut, nostrum blanditiis
            quo itaque repudiandae, accusamus omnis quis dignissimos beatae
            voluptatem amet voluptatibus et. Ex, neque!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-title-container">
          <h2>PAYMENTS AND FEES</h2>
        </div>
        <div class="sub-para-container">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consectetur debitis nulla adipisci numquam ut, nostrum blanditiis
            quo itaque repudiandae, accusamus omnis quis dignissimos beatae
            voluptatem amet voluptatibus et. Ex, neque!
          </p>
          <br />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            impedit quis magnam non repellendus soluta nobis distinctio, qui,
            adipisci minima, necessitatibus aspernatur accusantium dolor autem
            voluptate ullam laboriosam repellat harum?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-vdark">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="trial-ad-container">
          <h1>Ready for your free trial?</h1>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 offset-md-0 offset-sm-3 trial-ad-btn-container">
        <button type="button" class="btn btn-light btn-general btn-lg">Large button</button>
      </div>
    </div>
  </div>
</div>
