<div class="container text-center p-4">
    <p class="display-4">Privacy Policy</p>
    <p class="px-sm-5">
        Intellifriend respects the privacy of its users and is fully committed to protecting their personal data.
        This
        Privacy Policy explains how Intellifriend ("Intellifriend", “we”, “us”, “our”) and our affiliates process
        information
        about individuals, including personal data, in relation to the use of the intellifriend.com website and the
        real-time time tracking service that analyzes productivity (“Service”). Below you may find detailed
        information about what type of information we collect about individuals and why, what we do with it, and how
        we handle such information.
        By accessing or using this website or any of our Services, you agree to the terms set out in this Privacy
        Policy, Cookie Policy, Terms of Service, and other terms and policies posted on our website. If you do not
        agree to this Privacy Policy, you must leave this website and discontinue all use of any of our Services.
    </p>
</div>


<div class="container-fluid mt-5">
    <h4 class="text-uppercase font-weight-bold text-center pb-2">TABLE OF CONTENTS</h4>

    <div id="accordion" class="px-md-5 mx-md-5">

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    1. Introduction
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <span class="font-weight-bold">1.1</span>
                        This Privacy Policy governs the processing of Personal Data of independent individual users
                        (the “User” or “you”) of the Intellifriend Service, visitors of the Intellifriend website
                        (“you”) as
                        well as the processing of Personal Data by Intellifriend on behalf of companies,
                        organizations,
                        institutions, groups of people, etc., that track time of their employees or other
                        individuals within their Intellifriend account group (“Client”) within the Service.
                    </p>

                    <p>
                        <span class="font-weight-bold">1.2</span>
                        Intellifriend shall process Personal Data in accordance with applicable data protection laws
                        and
                        in respect of Data Subjects within the European Economic Area (“EEA”) Intellifriend shall
                        comply
                        with requirements of European Regulation (EU) 2016/679 of the European Parliament and of the
                        Council of 27 April 2016 on the protection of natural persons with regards to the processing
                        of personal data and on the free movement of such data, and repealing Directive 95/46/EC
                        (“GDPR”).
                    </p>
                    <p>
                        <span class="font-weight-bold">1.3</span>
                        In this Privacy Policy the term “Intellifriend” refers to Fast Brands LLC, a company
                        registered
                        in the Delaware, USA, address: 19749 Dearborn St, Chatsworth, California 91311, USA and its
                        affiliate SIA Intellifriend, a company registered in Republic of Latvia, registration
                        number:
                        40203168348, address: Riga, Ojara Vaciesa iela 6B, LV-1004.
                    </p>
                    <p>
                        <span class="font-weight-bold">1.4</span>
                        The terms “Personal Data”, “Data Subject”, “Processing”, “Controller”, “Processor” and
                        “Supervisory Authority” as used in this Privacy Policy shall have the same meanings as given
                        in the GDPR.
                    </p>
                    <p>
                        <span class="font-weight-bold">1.5</span>
                        Intellifriend acts as a Data Controller and sets the purpose and means for processing the
                        following data:


                    </p>

                    <ul>
                        <li>
                            Personal Data of the Users who are themselves the clients of Intellifriend and who
                            transmit their Personal Data directly to Intellifriend, such as freelancers and
                            other
                            individuals who register for Intellifriend independently (create Intellifriend
                            account for
                            their own use);
                        </li>

                        <li>
                            Personal Data of individuals who subscribe for receiving commercial communication
                            and other news and updates from Intellifriend, but who are not registered users of
                            Intellifriend Service.
                        </li>
                    </ul>

                    <p>
                        <span class="font-weight-bold">1.6</span>
                        When Intellifriend processes Personal Data that has been transferred to Intellifriend by the
                        Clients,
                        Intellifriend acts as the Data Processor.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    2. PROCESSING OF DATA ON BEHALF OF CLIENTS BY Intellifriend AS DATA PROCESSOR
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <span class="font-weight-bold">2.1</span>
                        This section concerns Intellifriend Clients that transfer Personal Data of end-users of the
                        Service, such as personal data of Client’s employees, to Intellifriend. In respect of such
                        data,
                        the Client sets the purpose and means of processing Personal Data, therefore the Client is
                        the Data Controller.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.2</span>
                        Intellifriend processes end-users’ Personal Data on behalf of the Client, and Intellifriend
                        only
                        accesses the data for the purpose of rendering the Service, therefore Intellifriend is the
                        Data
                        Processor.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.3</span>
                        If you as a Data Subject are the end-user of Intellifriend Service and your profile was
                        created
                        by your employer, the privacy policy of the Client (e.g. your employer or other organization
                        that created your account), on whose behalf we process the data, will apply. This means that
                        any enquiry, request, objection or complaint that you as a Data Subject may have in
                        connection with the processing of Personal Data that forms part of your Intellifriend
                        account
                        should be addressed to and resolved by the Client as the Data Controller.
                    </p>
                    <p class="font-weight-bold">Details of processing</p>

                    <p>
                        <span class="font-weight-bold">2.4</span>
                        When the Client creates accounts for end-users in its group the Client transfers the
                        Personal Data of such end-users to Intellifriend. In that way the Client instructs
                        Intellifriend to
                        process Personal Data in order to provide Service to the Client pursuant to the agreement
                        concluded between the Client and Intellifriend.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.5</span>
                        For the avoidance of doubt, this Privacy Policy contains complete and final instructions of
                        the Client to Intellifriend in relation to processing of Personal Data of end-users, and
                        this
                        Privacy Policy constitutes a binding data processing agreement.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.6</span>
                        Intellifriend will always process all Personal Data on behalf of the Client following the
                        Client’s instructions and in compliance with the applicable data protection laws and
                        regulations including requirements of GDPR where applicable.
                    </p>
                    <p class="font-weight-bold">Type of personal data and categories of data subjects</p>

                    <p>
                        <span class="font-weight-bold">2.7</span>
                        Categories of data subjects whose Personal Data will be processed on behalf of the Client
                        include the Client’s employees, representatives and other end-users that will be registered
                        under the Client’s group account. The information about these individuals that may contain
                        Personal Data are indicated in Paragraph 4.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.8</span>
                        Client represents that it has acquired all necessary consents and/or relies on other
                        appropriate legal basis for the processing of Personal Data of end-users. Client confirms
                        that end-users have been informed about the fact that their Personal Data is transferred to
                        Intellifriend as a Processor and other third parties used by Intellifriend for the provision
                        of
                        Service.
                    </p>
                    <p class="font-weight-bold">Duration of the processing </p>

                    <p>
                        <span class="font-weight-bold">2.9</span>
                        Intellifriend will process the aforementioned data for as long as Intellifriend provides the
                        Service
                        to the Client and the Client has an active Intellifriend account.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.10</span>
                        When an end-user’s account is deleted by the Client, Intellifriend will process data of
                        deleted
                        accounts in the Client’s group for statistical and analytical interests of the Client.
                        However, such data can be deleted at any time upon Client’s request.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.11</span>
                        After terminating contractual relationship between Intellifriend and the Client, we may
                        continue
                        to store some Personal Data, but limited to the minimum amount required, as might be
                        necessary for us to comply with legal obligations, to ensure reliable back-up systems, to
                        resolve disputes between the Client and Intellifriend, if any, to prevent fraud and abuse,
                        to
                        enforce Intellifriend agreements, and/or to pursue legitimate interests of Intellifriend or
                        third
                        parties.
                    </p>
                    <p class="font-weight-bold">Sub-processors</p>

                    <p>
                        <span class="font-weight-bold">2.12</span>
                        The Client consents that Intellifriend, for the purpose of providing Service to the Clients,
                        uses
                        sub-processors that provide Intellifriend the services indicated in Paragraph 7.
                        Intellifriend ensures
                        that it only uses sub-processors that comply with the same data protection obligations as
                        set out in this Privacy Policy, in particular provides sufficient guarantees and has
                        implemented appropriate technical and organizational measures and otherwise comply with the
                        requirements of GDPR where applicable. If such sub-processor fails to fulfil its data
                        protection obligations, Intellifriend shall remain liable to the Client.
                    </p>
                    <p class="font-weight-bold">Assistance to the controller </p>

                    <p>
                        <span class="font-weight-bold">2.13</span>
                        Taking into account the nature of the processing, Intellifriend as a Data Processor will
                        assist
                        the Client with provision of technical or organizational measures, insofar as possible, for
                        the fulfilment of the Client’s obligations as a Data Controller in relation to:
                    </p>
                    <p class="font-weight-bold">Return and deletion of data</p>

                    <p>
                        <span class="font-weight-bold">2.14</span>
                        Unless otherwise required by applicable law, Intellifriend has no obligation to store the
                        Client’s data after termination of the agreement with the Client and deletion of the
                        Client’s account and all accounts associated with it.
                    </p>
                    <p>
                        <span class="font-weight-bold">2.15</span>
                        At the choice of the Client, Intellifriend will delete or return all the Personal Data to
                        the
                        Client after the end of the provision of Service relating to processing and shall delete
                        existing copies, unless applicable law requires Intellifriend to store such Personal Data.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    3. PURPOSES AND GROUNDS FOR PROCESSING
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <span class="font-weight-bold">3.1</span>
                        Intellifriend as a Controller shall process your Personal Data in order to provide you with
                        the
                        Service, to improve our Service, to solve any Service related issues you may have and to
                        ensure that you receive the best customer experience possible.
                    </p>
                    <p>
                        <span class="font-weight-bold">3.2</span>
                        Intellifriend collects and processes your Personal Data including, but not limited for the
                        following purposes:


                    </p>

                    <ul>
                        <li>
                            Registering you for the use of the Service by creating your Intellifriend account;
                        </li>
                        <li>
                            Sending you invoices and processing payments for the Service;
                        </li>
                        <li>
                            Personalizing your use of the Service when you set up your account settings;
                        </li>
                        <li>
                            Analyzing your performance as a feature within our Service;
                        </li>
                        <li>
                            Communicating with you to inform you about Intellifriend Service and provide you any
                            Service related support, answer your questions and process your requests;

                        </li>
                        <li>
                            To improve Service or to develop new features within the Service;
                        </li>
                        <li>
                            Analytics and measurement to understand how our Services are used. For example, we
                            analyze data about your usage of the Service to optimize product design, to generate
                            reports and create statistics about use of Intellifriend Service;
                        </li>
                        <li>
                            Delivering personalized ads, promotions and offers to you;
                        </li>
                        <li>
                            Protecting legal interests of Intellifriend, its Clients, Users and other third
                            persons
                            and for legal reasons such as, e.g. enforcing our Terms & Conditions or Privacy
                            Policy, complying with any applicable law and assisting law enforcement authorities.
                        </li>
                    </ul>

                    <p>
                        We’ll ask for your consent before using your information for a purpose that isn’t covered in
                        this Privacy Policy.
                    </p>
                    <p>
                        <span class="font-weight-bold">3.3</span>
                        Intellifriend only collects and processes your Personal Data where we have lawful basis.
                        Legal
                        grounds for the processing of your Personal Data vary depending on the specific group of
                        data and the purposes for processing it. Note that we may be processing the same Personal
                        Data for several purposes simultaneously and, respectively, on more than one legal ground.
                    </p>
                    <p>
                        <span class="font-weight-bold">Contract.</span>
                        Most of the time the legal basis for processing your Personal Data is the contractual
                        relationship between you as the User of Service and Intellifriend since we need certain
                        information to conclude the contract and to fulfil our obligations arising out of this
                        contract.
                    </p>
                    <p>
                        <span class="font-weight-bold">Legal obligation.</span>
                        In some cases, Intellifriend processes Personal Data on basis of legal obligations imposed
                        on us
                        by applicable law, such as financial and tax reporting obligations or if we have to respond
                        to legal process.
                    </p>
                    <p>
                        <span class="font-weight-bold">Legitimate interests.</span>
                        Processing of your Personal Data is necessary for pursuing legitimate interests of
                        Intellifriend
                        or for the legitimate interests of third parties, always provided that such processing shall
                        not outweigh your rights and freedoms. For example, we may process your data for marketing
                        purposes based on our legitimate interest of growing and improving our business. Other
                        legitimate interests include maintaining Service to meet the needs of our Users and Clients,
                        advertising to make our Service freely available for users, detecting and preventing fraud,
                        abuse, security and technical issues with the Service, fulfilling obligations to our
                        partners, enforcing legal claims, etc.
                    </p>
                    <p>
                        <span class="font-weight-bold">Consent.</span>
                        Some Personal Data we process based on your consent. This is the information that we do not
                        need for performance of the contract, but you voluntarily may provide us with such
                        information. By taking such clear affirmative action as uploading your photo to
                        Intellifriend
                        account, entering notes, entering your e-mail address in blog subscription field and
                        clicking “subscribe” you signify your consent to the processing of your respective Personal
                        Data. By using the absence calendar and adding “away time” you take affirmative action and
                        manifestly make this information available at your Intellifriend account. Note that you have
                        the
                        right at any time to delete this information and withdraw your consent.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                    4. INFORMATION WE COLLECT FROM Intellifriend USERS
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <span class="font-weight-bold">4.1</span>
                        Intellifriend collects, generates and receives information in a variety of ways when you use
                        the
                        Service. Some of this information constitutes Personal Data.
                    </p>
                    <p class="font-weight-bold">Information you provide upon creating your account</p>

                    <p>
                        <span class="font-weight-bold">4.2</span>
                        As a User of Intellifriend Services you provide us with information containing your Personal
                        Data. Upon registration and creating your profile you provide us with the following
                        information:
                    </p>
                    <ul>
                        <li>
                            Full name
                        </li>
                        <li>
                            E-mail address
                        </li>
                        <li>
                            Password
                        </li>
                        <li>
                            Payment information
                        </li>
                        <li>
                            Phone number
                        </li>
                        <li>
                            Social media account information (if you register by linking your social media
                            account to your Intellifriend account)
                        </li>
                        <li>
                            Photo (voluntary)
                        </li>
                    </ul>
                    <p>
                        <span class="font-weight-bold">4.3</span>
                        Please note that some options within the Service allow our Users to voluntarily disclose
                        their Personal Data such as your photo, or any data that you enter into notes, as well as
                        some special category data, e.g. data concerning health, when using the absence calendar
                        function. Intellifriend does not oblige Users to submit such data since it is not essential
                        for
                        provision of the Service, and Users are able to use the Service without providing us with
                        the aforementioned data.
                    </p>
                    <p class="font-weight-bold">Third-party integrations </p>
                    <p>
                        <span class="font-weight-bold"> 4.4</span>
                        You can choose to integrate third-party services in relation to certain aspects of
                        Intellifriend
                        Service. A third-party service is software that integrates with the Service and you can
                        enable or disable such integration for your Intellifriend account.
                    </p>

                    <p>
                        <span class="font-weight-bold">4.5</span>
                        Once enabled, the relevant third-party service provider may share certain information with
                        us. For example, if you choose to use a third-party service (such as Facebbok, Twitter,
                        LinkedIn) to sign up for the Service, then the provider of such a service may send us your
                        name, user ID, email address. Or if some other third-party application (e.g., project
                        management service, Google or Outlook calendar) is enabled to permit data to be imported
                        into Service, we may receive such information as you have elected to let the application
                        make available to us. You should check the privacy settings of these third-party services to
                        understand what data may be disclosed to us.
                    </p>
                    <p class="font-weight-bold">Information you provide by configuring your account </p>
                    <p>
                        <span class="font-weight-bold">4.6</span>
                        Upon configuring settings of your Intellifriend account, including performance tracking
                        preferences, you provide us with the following information, which in connection with other
                        information may contain Personal Data:<br><br>
                        Location, time zone, start and end time of your workday, work duration, start and stop time
                        of work tracking, working days, tracking days, hourly rate, offline time input options,
                        private time input options, application names to be collected, options to hide owners,
                        absence calendar, information about colleagues, option to use calculation tool of project
                        costs
                    </p>
                    <p class="font-weight-bold">Information generated when using the Service </p>
                    <p>
                        <span class="font-weight-bold">4.7</span>
                        Some of the information processed by Intellifriend is created by you using the Service, and
                        this
                        information may also contain Personal Data. Intellifriend records the following information
                        when
                        you use the Service:
                    </p>
                    <p>
                        IP address where you logged in, browser type and browser software version, names of
                        applications used, names of tasks to be worked on, websites visited, Intellifriend client
                        version, path to the application, start and end time of use, time spent on breaks,
                        screenshots of your computer screen. Intellifriend may record the number of keystrokes or
                        mouse
                        movements, but we do not record what you type or where you click.
                    </p>
                    <p>
                        <span class="font-weight-bold">4.8</span>
                        When you are just the end-user and not the Client of the Service, the above-mentioned
                        information is provided to Intellifriend by the Client (e.g. your employer).
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                    5. INFORMATION WE COLLECT FROM Intellifriend WEBSITE VISITORS
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">5.1</span>
                        Upon visiting our website we may collect and process the following information that may
                        contain your Personal Data:<br>

                    </p>
                    <ul>
                        <li>
                            Your device and browser
                        </li>
                        <li>
                            Your IP address
                        </li>
                        <li>
                            Other information that is collected from cookies and similar technology we use.
                        </li>
                    </ul>
                    <p>Learn more about how we use cookies on our website by reading our Cookie Policy. </p>
                    <p><span class="font-weight-bold">5.2</span>
                        When you subscribe to Intellifriend blog, leave comments on blog entries, or submit a
                        question to
                        us, you are providing Intellifriend with the following information that contains your
                        Personal
                        Data:<br>

                    </p>
                    <ul>
                        <li>
                            Your name
                        </li>
                        <li>
                            Your e-mail address
                        </li>
                    </ul>
                    <p><span class="font-weight-bold">5.3</span>
                        When you subscribe to our blog or newsletter we will process your e-mail address to send you
                        informative materials, such as newsletters, advertisements and others. At any point in time
                        you can unsubscribe from receiving the above-mentioned information in your e-mail footers.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                    6. RETENTION PERIOD
                </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">6.1</span>
                        Intellifriend retains Personal Data of User account for as long as you maintain your
                        Intellifriend
                        account or as otherwise necessary for Intellifriend to provide you the Service.
                    </p>
                    <p><span class="font-weight-bold">6.2</span>
                        Data created by you when using the Service (paragraph 4.7) is kept by Intellifriend for 13
                        months. After 13 months only general information like “arrival time”, “left time”,
                        “Intellifriend
                        time”, and “time at work” are kept for statistical purposes.
                    </p>
                    <p><span class="font-weight-bold">6.3</span>
                        After you as a User terminate your relationship with us by deleting your Intellifriend
                        account or
                        otherwise terminating the contract for Intellifriend Service, we may continue to store
                        certain
                        information as reasonably necessary to comply with our legal obligations, to resolve
                        disputes, if any, to prevent fraud and abuse, to enforce our agreement, and/or to protect
                        our legitimate interests.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                    7. SHARING YOUR PERSONAL DATA WITH THIRD PARTIES
                </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">7.1</span>
                        For Intellifriend to be able to provide you with our Service, we work with third parties
                        that
                        provide us with different services we need in ordinary course of our business. Therefore, we
                        share your Personal Data with such third-party service providers. They process your personal
                        data on behalf of Intellifriend.
                    </p>
                    <p><span class="font-weight-bold">7.2</span>
                        The categories of recipients of your Personal Data include, hosting and server co-location
                        service providers, communication and content delivery networks, data and cyber security
                        service providers, billing and payment processing service providers, fraud detection and
                        prevention service providers, web analytics, email distribution and monitoring service
                        providers, session recording service, marketing service providers, legal and financial
                        advisors, among others (“Third-Party Service Providers”).
                    </p>
                    <p><span class="font-weight-bold">7.3</span>
                        Third-Party Service Providers only receive strict minimum amount of Personal Data as
                        necessary for them to provide us with requested service. Intellifriend shares Personal Data
                        only
                        with such Third-Party Service Providers that are able to demonstrate that they have
                        implemented appropriate measures to ensure that Personal Data is processed in compliance
                        with GDPR and other applicable laws and regulations.
                    </p>
                    <p><span class="font-weight-bold">7.4</span>
                        In certain situations we might have a legal obligations to share your information with third
                        parties. Such situation may arise when sharing your Personal Data with third party is
                        required by law or when information is requested by public authorities.
                    </p>
                    <p><span class="font-weight-bold">7.5</span>
                        Intellifriend may share your Personal Data if Intellifriend organizes the operation of
                        Services within
                        a different framework, or through another legal structure or entity, or if Intellifriend is
                        acquired by, or merged into or with another entity, or if Intellifriend enter bankruptcy,
                        provided however, that those entities agree to be bound by the provision of this Privacy
                        Policy, with respective changes taken into consideration.
                    </p>
                    <p><span class="font-weight-bold">7.6</span>
                        Personal Data processed by Intellifriend may be transferred to Third-Party Service Providers
                        that
                        are located outside of EEA. If Intellifriend transfers Personal Data to a Third-Party
                        Service
                        Provider located outside of EEA, Intellifriend will only send Personal Data to such
                        recipients
                        that have taken adequate data processing and protection requirements and that are able to
                        ensure an adequate level of protection or have provided adequate guarantees.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                    8. DATA SUBJECT’S RIGHTS
                </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">8.1</span>
                        Individuals located in certain countries, including the European Economic Area, have certain
                        statutory rights in relation to their Personal Data. Subject to any exemptions provided by
                        law, you may have the right to request access to your Personal Data to seek to update,
                        delete or correct this data, to restrict or object to processing of your data, as well as
                        right to portability of your Personal Data.
                    </p>
                    <p><span class="font-weight-bold">8.2</span>
                        You can use these rights by logging into your Intellifriend account or by getting in touch
                        with
                        Intellifriend using the contact information provided below in Paragraph 12.
                    </p>
                    <p><span class="font-weight-bold">8.3</span>
                        Furthermore, if you believe that Intellifriend has unlawfully processed your Personal Data,
                        you
                        have the right to submit a complaint to Intellifriend by using the contact information
                        provided
                        below, or you may submit complaint to a respective data protection supervisory authority in
                        your country.
                    </p>
                    <p><span class="font-weight-bold">8.4</span>
                        If you are an individual whose Personal Data has been provided to Intellifriend by the
                        Client
                        (e.g. employee of the Client), please contact the Client to exercise your rights as a Data
                        Subject stated above.
                    </p>
                    <p><span class="font-weight-bold">8.5</span>
                        In case Intellifriend receives complaint or request from individual, whose Personal Data has
                        been
                        provided to Intellifriend by the Client, exercising his/her rights as a Data Subject,
                        Intellifriend
                        will not respond to such complaint or request without prior written authorization by the
                        Client.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                    9. PERSONAL DATA SECURITY
                </a>
            </div>
            <div id="collapseNine" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">9.1</span>
                        Intellifriend uses reasonable organizational, technical, and administrative measures to
                        protect
                        the confidentiality, integrity, and availability of Personal Data. We encourage Users,
                        Clients and their end-users to take care of their own Personal Data as well as Personal Data
                        in their possession and set strong passwords for Intellifriend account, limit access to
                        computer
                        and browser by signing out after end of session, and as possible avoid providing
                        Intellifriend
                        with any sensitive information, disclosure of which could cause substantial harm to Data
                        Subject.
                    </p>
                    <p><span class="font-weight-bold">9.2</span>
                        All of Intellifriend’s authorized personnel involved in the processing of Personal Data
                        provided
                        to us have committed themselves to confidentiality obligations and shall not access or
                        otherwise process Personal Data without authorization and if it's not necessary for the
                        purposes such data was obtained in the first place.
                    </p>
                    <p><span class="font-weight-bold">9.3</span>
                        In the event a Personal Data breach occurs, we will notify you in compliance with the
                        obligations set out in applicable laws and will provide reasonable assistance regarding the
                        investigation of Personal Data breaches and the notification to the supervisory authorities
                        and data subjects regarding such personal data breaches.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
                    10. DATA PROTECTION AUDIT
                </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">10.1</span>
                        Upon Client’s written request, Intellifriend agrees to provide the Client with sufficient
                        information to demonstrate compliance with obligations laid down in this Privacy Policy and
                        applicable laws and regulations. This information should be provided to the extent that such
                        information is within Intellifriend’s control and Intellifriend is not precluded from
                        disclosing it by
                        applicable law, a duty of confidentiality, or any other obligation owed to a third party.
                    </p>
                    <p><span class="font-weight-bold">10.2</span>
                        If information provided to the Client does not provide sufficient information to confirm
                        Intellifriend’s compliance with this Privacy Policy, then Intellifriend agrees to allow for
                        and
                        contribute to data processing audits.
                    </p>
                    <p><span class="font-weight-bold">10.3</span>
                        Such audits are allowed to be carried out by independent third party with good market
                        reputation, provided that it has sufficient experience and competence to carry out data
                        processing audits, and election of such auditor must be mutually agreed by both the Client
                        and Intellifriend.
                    </p>
                    <p><span class="font-weight-bold">10.4</span>
                        The timing and other practicalities related to any such audit or inspection are determined
                        by us and any such information and assistance are provided at exclusively the cost and
                        expense of the Client, and we reserve the right to charge the Client for any additional work
                        or other costs incurred by us in connection with the Client using such rights. The Client
                        has rights to request the audit once every 2 years.
                    </p>
                    <p><span class="font-weight-bold">10.5</span>
                        The auditor will have to sign confidentiality agreement which includes obligation not to
                        disclose business information in its audit report, and the final report will also have to be
                        provided to Intellifriend.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEleven">
                    11. PRIVACY POLICY CHANGES
                </a>
            </div>
            <div id="collapseEleven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><span class="font-weight-bold">11.1</span>
                        Intellifriend may occasionally amend this Privacy Policy for example in cases when we
                        introduce
                        new services or new features. The amendments to this Privacy Policy enter into force and are
                        applied from the moment they have been uploaded to this page.
                    </p>
                    <p><span class="font-weight-bold">11.2</span>
                        Therefore, we encourage you to check this page from time to time. By continuing to use our
                        Services or otherwise providing Personal Data to us, after the amendments to this policy
                        have been implemented, you agree to the updated terms of Privacy Policy.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwelve">
                    12. CONTACT INFORMATION
                </a>
            </div>
            <div id="collapseTwelve" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>In case you have any questions about this Privacy Policy or our data processing practices, or
                        if you would like to exercise any of your rights as a Data Subject regarding your Personal
                        Data, please contact us by email <a
                            href="mailto:support@Intellifriend.com">support@Intellifriend.com</a> , or by using the
                        contact
                        details
                        below:
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                Brainstation 23<br>
                                VAT Office Building 8th Floor<br>
                                Address:Amtoli,Mohakhali,<br>
                                Dhaka-1200,
                                Bangladesh

                            </address>
                        </div>
                        <div class="col-sm-6">
                            <address>
                                Intellifriend LTD.<br>
                                VAT Office Building 8th Floor<br>
                                Address:Amtoli,Mohakhali,<br>
                                Dhaka-1200,
                                Bangladesh

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="px-md-5 mx-md-5">This Privacy Policy is effective from 19 March 2019 </p>
    <p class="px-md-5 mx-md-5"><a id="downloadBtn" class="btn btn-primary rounded-0 border-0" href="#"
            target="_blank">Download PDF</a></p>
</div>

<div class="jumbotron bg-success rounded-0">
    <h3 class="text-center text-white">
        Ready for your free trial?
        <a id="trialBtn" class="btn btn-primary rounded-0 border-0 bg-white font-weight-bold px-5 py-2" href="#"
            target="_blank">Get Started</a>
    </h3>
</div>
