<div href="#" class="banner banner--gradient-bg">
  <div class="banner__logo-wrapper">
    <img src="../assets/images/big - Brain Jack.png" height="30px" width="30px" alt="IntelliFriend">
  </div>
  <div>
    <h2 class="banner__title">Request a Demo</h2>
    <div class="banner__text"><strong>Free trial</strong> lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, laboriosam? Accusantium aperiam aliquid assumenda fugit ea, quis veniam atque alias!</div>
  </div>
  <div class="btn banner__cta" [routerLink]="['/register']">
    Try <strong>Intellifriend!</strong>

  </div>
</div>
