<div id="pricing">
  <h1 class="mb-5 text-center">Choose Your Plan</h1>
  <div class="plans mt-5">
    <div class="plan-box">
      <div class="plan-options">
        <p class="plan-name">
          Personal
        </p>
        <div class="plan-price">
          <strong>Free</strong>
        </div>

        <ul class="plan-details">
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
        </ul>

        <a class="button p-3" href="#">Choose</a>
      </div>
    </div>

    <div class="plan-box highlighted">
      <div class="plan-options">
        <p class="plan-name">
          BUSINESS
        </p>
        <div class="plan-price"><strong>$99</strong>/mo</div>
        <ul class="plan-details">
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
        </ul>

        <a class="button p-3" href="#">Choose</a>
      </div>
    </div>

    <div class="plan-box">
      <div class="plan-options">
        <p class="plan-name">
          Enterprise
        </p>
        <div class="plan-price"><strong>$50</strong>/mo</div>
        <ul class="plan-details">
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
        </ul>
        <a class="button  p-3" href="#">Choose</a>
      </div>
    </div>
  </div>
</div>
